{:paths    ["src/clj" "src/cljc" "src/cljs"]
 :deps     {org.clojure/clojure       {:mvn/version "LATEST"}
            org.clojure/clojurescript {:mvn/version "LATEST"}
            quil/quil                 {:mvn/version "LATEST"}
            #_#_gil/gil               {:mvn/version "1.0.0-SNAPSHOT"}
            net.mikera/core.matrix    {:mvn/version "LATEST"}}
 :jvm-opts ^:replace ["-Xmx512M" "-XX:-OmitStackTraceInFastThrow"]
 :aliases  {:build {:main-opts ["-m cljs.main -co build.cljs.edn -c caves.core"]}}}
